@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
html,body{
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
.about{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to top,#3e4169,rgb(21, 22, 54)); */
    background: linear-gradient(
    -45deg,
    rgb(15, 17, 43),
    #131422,
    rgb(17, 19, 51),
    #1c1d31
  );
}
.abstract{
    position: relative;
    top: 29%;
    left: 40%;
    opacity: 50%;
    width: 19.634vw;
    height: 40.431vh;
}
.text_box{
    font-size: 1.309vw;
    font-family: 'Roboto';
    font-weight: 1000;
    margin-top: -18.194vh;
    margin-left: -96.531vw;
    width: 71.99vw;
    height: 40.431vh;
    color:white;
}
.text_man{
    display: flex;
    flex-direction: row;
}
.man{
    margin-top: -38.41vh;
    margin-left: 58.901vw;
    height: 84.906vh;
}
.hi{
    font-size: 2.094vw;
    font-family:monospace;
    color:white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div-item-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-items{
    padding-right:1.309vw;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.0471204188482vw;
    color: #C8C1E8;
    text-decoration: none;
    margin-top: 2.695vh;
}
.nav-items:hover{
    padding-right: 1.309vw;
    font-family: 'Roboto';
    font-weight: 600;
    text-decoration: none;
    font-size: 1.0471204188482vw;
    color: #C8C1E8;
    text-align: center;
    text-decoration: underline;
    margin-top: 2.695vh;
}
@media (max-width:400px) {
    .about{
        width: 100vw;
        height: 96vh;
    }
    .div-item-right{
        margin-right: 6.5vw;
    }
    .nav-items{
        font-size: 2vw;
    }
    .nav-items:hover{
        font-size: 2vw;
    }
.abstract{
        width: 50vw;
        position: relative;
        top: 23vh;
        left: 20vw;
        opacity: 25%;
    }
    .hi{
        font-size: 4vw;
    }
    .text_box{
        font-size: 3vw;
        width: 90vw;
        position: relative;
        left: 43vw;
        top: -5vh;
    }
    .man{
        width: 0vw;
        height: 0vh;
        opacity: 0;
    }
}
