@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
html,body{
  overflow-x: hidden;
   overflow-y: hidden;
  width: 100%;
  height: 100%;
}
body{
    /* background: linear-gradient(to top,#3e4169,rgb(21, 22, 54)); */
    background: linear-gradient(
    -45deg,
    rgb(15, 17, 43),
    #131422,
    rgb(17, 19, 51),
    #1c1d31
  );
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_item_left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.348vh;
    margin-left: 3.599vw;
}
.social_icons{
    padding-right: 0.524vw;
    width: 1.963vw;
    height: 4.043vh;
}
.div-item-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-items{
    margin-top: 2.695vh;
    padding-right: 1.309vw;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.0471204188482vw;
    color:#C8C1E8;
    text-decoration: none;
}
.nav-items:hover{
    margin-top: 2.695vh;
    padding-right: 1.309vw;
    font-family: 'Roboto';
    font-weight: 600;
    text-decoration: none;
    font-size: 1.0471204188482vw;
    text-decoration: underline 2px;
    color: #C8C1E8;
}
.contact_head{
    font-family: 'Roboto';
    font-size: 5.236vw;
    font-weight: bolder;
    margin-left: 3.272vw;
    color: #C8C1E8;
}
.me_head{
    margin-left: 3.272vw;
    font-family: 'Roboto';
    color: #8e40f4;
    font-size: 5.236vw;
    font-weight: lighter;
}
.contact_img{
    width: 32.723vw;
    height: 72.776vh;
    margin-top: -5.121vh;
}
.contact_form_img{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.contact_form{
    margin-top: 2.291vh;
    border-radius: 1.636vw;
    position: relative;
    background-color: #C8C1E8;
    left: 3.73vw;
    width: 45.812vw;
    height: 60.647vh;   
}
.contact_form_fields{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3.369vh;
    padding-left: 1.636vw;
}
#name{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: none;
    width: 41.23vw;
    height: 4.043vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#name:hover{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: 2px solid purple;
    width: 41.23vw;
    height: 4.043vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#email{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: none;
    width: 41.23vw;
    height: 4.043vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#email:hover{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: 2px solid purple;
    width: 41.23vw;
    height: 4.043vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#number{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: none;
    width: 41.23vw;
    height: 4.043vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#number:hover{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: 2px solid purple;
    width: 41.23vw;
    height: 4.043vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#message{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: none;
    width: 41.23vw;
    height: 13.477vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
#message:hover{
    margin-bottom: 2.695vh;
    border-radius: 0.654vw;
    border: 2px solid purple;
    width: 41.23vw;
    height: 13.477vh;
    padding-left: 0.654vw;
    font-family: 'roboto';
    font-weight: bold;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: 'Roboto';
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 1.113vw;
    border-radius: 32.723vw;
    overflow: hidden;
    background:PURPLE;
    color: purple;
    width: 13.089vw;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: rgb(255, 255, 255);
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
@media (max-width:400px) {
    .nav-items{
        font-size: 2vw;
    }
    .nav-items:hover{
        font-size: 2vw;
    }
    .social_icons{
        width: 3.5vw;
        height: 2.5vh;
    }
    .contact_head{
        font-size: 14vw;
    }
    .me_head{
        font-size: 14vw;
    }
    .contact_form{
        height: 50vh;
        width: 92vw;
        border-radius: 4.636vw;
    }
    #name{
        width: 88vw;
        border-radius: 2vw;
    }
    #name:hover{
        width: 88vw;
        border-radius: 2vw;
    }
    #email{
        width: 88vw;
        border-radius: 2vw;
    }
    #email:hover{
        width: 88vw;
        border-radius: 2vw;
    }
    #number{
        width: 88vw;
        border-radius: 2vw;
    }
    #number:hover{
        width: 88vw;
        border-radius: 2vw;
    }
    #message{
        width: 88vw;
        border-radius: 2vw;
    }
    #message:hover{
        width: 88vw;
        border-radius: 2vw;
    }
    button{
        width: 25vw;
        border-radius: 3vw;
        height: 5vh;
    }
    button span{
        font-size: 2.3vw;
        margin-left:-9.5vw;
        left:4.5vw;
        top: -0.2vh;
    }
    .contact_img{
        opacity:0;
        width: 0vw;
        height: 0vh;
    }
}
   
