@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
body{
  /* background: linear-gradient(to top,#3e4169,rgb(21, 22, 54)); */
  background: linear-gradient(
    -45deg,
    rgb(15, 17, 43),
    #131422,
    rgb(17, 19, 51),
    #1c1d31
  );
}
.container {
  height: 99.73vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.blob {
  position: absolute;
  top: 1.348vh;
  width: 32.723vw;
  height: 67.385vh;
  background: linear-gradient(
    180deg,
    rgba(159, 82, 189, 0.42) 31.77%,
    #C8C1E8 100%
  );
  mix-blend-mode: color-dodge;
  -webkit-animation: move 25s infinite alternate;
  animation: move 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}
.blob:hover {
  width: 34.031vw;
  height: 70.081vh;
  -webkit-filter: blur(0.654vw);
  filter: blur(0.654vw);
  box-shadow: inset 0 0 0 0.327vw rgba(255, 255, 255, 0.6),
    inset 6.545vw 6.545vw 0 0vw #c8b1e7, inset 13.089vw 13.089vw 0 0vw #784ba8,
    inset 19.634vw 19.634vw 0 0vw #2b86c5;
}

@-webkit-keyframes move {
  from {
    transform: translate(-6.545vw, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(62.723vw, 6.545vw) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-6.545vw, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(62.723vw, 6.545vw) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div-item-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-items{
    padding-right:1.309vw;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.0471204188482vw;
    color: #C8C1E8;
    text-decoration: none;
    margin-top: 2.695vh;
}
.name{
    font-family: 'Roboto';
    font-size: 1.0471204188482vw;
    padding-left: 0.458vw;
    font-weight: 600;
    margin-top: 2.695vh;
    margin-left: 4.581vw;
    color: #C8C1E8;
}
.nav-items:hover{
    padding-right: 1.309vw;
    font-family: 'Roboto';
    font-weight: 600;
    text-decoration: none;
    font-size: 1.0471204188482vw;
    color: #C8C1E8;
    text-align: center;
    text-decoration: underline;
    margin-top: 2.695vh;
}
.recent_head{
    position: relative;
    top: -94.34vh;
    left: 4.581vw;
    font-family: 'roboto';
    font-size: 5.236vw;
    font-weight: bolder;
    color: #C8C1E8;
}
.project_head{
    position: relative;
    top: -94.34vh;
    left: 4.581vw;
    font-family: 'roboto';
    font-size:  5.236vw;
    font-weight: lighter;
    color: #8e40f4;
}
.project_row_one{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project_items{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -83.558vh;
  border-radius: 1.309vw;
  border: 3px solid #C8C1E8;
  width: 22.906vw;
  height: 33.693vh;
}
.project_img1{
  width: 13.089vw;
  height: 17.52vh;
  margin-top: 1.348vh;
  margin-left: 4.908vw;
}
.project_img2{
  width: 12.435vw;
  height: 13.477vh;
  margin-top: 2.695vh;
  margin-left: 4.908vw;
}
.project_img3{
  width: 13.743vw;
  height: 18.868vh;
  margin-top: -2.695vh;
  margin-left: 5.236vw;
}
.project_item_text1{
  width: 22.251vw;
  height: 13.477vh; 
  border-radius: 1.309vw;
  margin-left: 0.327vw;
  background-color: #C8C1E8;
}
.project_item_text2{
  width: 22.251vw;
  height: 13.477vh; 
  border-radius: 1.309vw;
  margin-left: 0.327vw;
  margin-top: 2.695vh;
  background-color: #C8C1E8;
}
.project_item_text3{
  width: 22.251vw;
  height: 13.477vh; 
  border-radius: 1.309vw;
  margin-left: 0.327vw;
  margin-top: 2.695vh;
  background-color: #C8C1E8;
}
.project_name_text1{
  color: #3e4169;
  font-family: 'roboto';
  font-size: 1.832vw;
  font-weight: bold;
  margin-top: 1.348vh;
  margin-left: 6.217vw;
}
.foodybtn{
  color:#3e4169;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 700;
  position: relative;
  top: 2.022vh;
  margin-left: 8.181vw;
  
}
.foodybtn:hover{
  cursor:pointer;
  text-decoration: underline;
}
.project_name_text2{
  color: #3e4169;
  font-family: 'roboto';
  font-size: 1.832vw;
  font-weight: bold;
  margin-top: 1.348vh;
  margin-left: 4.908vw;
}
.riotbtn{
  color:#3e4169;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 700;
  position: relative;
  top: 15px;
  margin-left: 8.508vw;
  
}
.riotbtn:hover{
  cursor:pointer;
  text-decoration: underline;
}
.project_name_text3{
  color: #3e4169;
  font-family: 'roboto';
  font-size: 1.832vw;
  font-weight: bold;
  margin-top: 1.348vh;
  margin-left: 5.694vw;
}
.microsoftbtn{
  color:#3e4169;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 700;
  position: relative;
  top: 2.022vh;
  margin-left: 8.835vw;
  
}
.microsoftbtn:hover{
  cursor: pointer;
  text-decoration: underline;
}
.project_row_two{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.uiux_project_items{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -74.124vh;
  border-radius: 1.309vw;
  border: 3px solid #C8C1E8;
  width: 22.906vw;
  height: 33.693vh;
}
.uiux_project_name_text1{
  color:#3e4169;
  font-family: 'roboto';
  font-size: 1.44vw;
  font-weight: bold;
  margin-top: 1.348vh;
  margin-left: 4.45vw;
}
.uiux_project_name_text2{
  color:#3e4169;
  font-family: 'roboto';
  font-size: 1.44vw;
  font-weight: bold;
  margin-top: 1.348vh;
  margin-left: 1.767vw;
}
.uiux_project_name_text3{
  color:#3e4169;
  font-family: 'roboto';
  font-size: 1.44vw;
  font-weight: bold;
  margin-top: 1.348vh;
  margin-left: 0.785vw;
}
.halloweenbtn{
  color:#3e4169;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 700;
  position: relative;
  top: 1.348vh;
  margin-left: 8.181vw;
  
}
.halloweenbtn:hover{
  cursor:pointer;
  text-decoration: underline;
}
.nikebtn{
  color:#3e4169;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 700;
  position: relative;
  top: 1.348vh;
  margin-left: 8.181vw;
  
}
.nikebtn:hover{
  cursor:pointer;
  text-decoration: underline;
}
.reynabtn{
  color:#3e4169;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 700;
  position: relative;
  top: 1.348vh;
  margin-left: 8.181vw;
  
}
.reynabtn:hover{
  cursor:pointer;
  text-decoration: underline;
}
.uiux_project_img1{
  width: 13.089vw;
  height: 17.52vh;
  margin-top: 1.348vh;
  margin-left: 4.908vw;
  border-radius: 0.654vw;
}
.uiux_project_img2{
  width: 13.089vw;
  height: 17.52vh;
  margin-top: 1.348vh;
  margin-left: 4.908vw;
  border-radius: 0.654vw;
}
.uiux_project_img3{
  width: 13.089vw;
  height: 17.52vh;
  margin-top: 1.348vh;
  margin-left: 4.908vw;
  border-radius: 0.654vw;
}
.uiux_project_item_text1{
  width: 22.251vw;
  height: 13.477vh;
  background-color: #C8C1E8;
  border-radius: 1.309vw;
  margin-top: 0.674vh;
  margin-left: 0.327vw;
}
.uiux_project_item_text2{
  width: 22.251vw;
  height: 13.477vh;
  background-color: #C8C1E8;
  border-radius: 1.309vw;
  margin-top:0.674vh;
  margin-left: 0.327vw;
}
.uiux_project_item_text3{
  width: 22.251vw;
  height: 13.477vh;
  background-color: #C8C1E8;
  border-radius: 1.309vw;
  margin-top: 0.674vh;
  margin-left: 0.327vw;
}
.note1{
  color: #3e4169;
  font-size: 0.916vw;
  font-family: 'roboto';
  margin-top: 2.695vh;
  width: 16.361vw;
  margin-left: 4.908vw;
}
.note2{
  color: #3e4169;
  font-size: 0.916vw;
  font-family: 'roboto';
  margin-top: 2.695vh;
  width: 16.361vw;
  margin-left: 4.908vw;
}
.note3{
  color: #3e4169;
  font-size: 0.916vw;
  font-family: 'roboto';
  margin-top: 2.695vh;
  width: 16.361vw;
  margin-left: 4.908vw;
}
@media (max-width:400px) {
  .name{
    font-size: 2vw;
  }
  .div-item-right{
    margin-right: 1vw;
  }
  .nav-items{
    font-size: 2vw;
  }
  .nav-items:hover{
    font-size: 2vw;
  }
  .recent_head{
    font-size: 14vw;
  }
  .project_head{
    font-size: 14vw;
  }
  .project_row_one{
    flex-direction: column;
    align-items: center;
    gap: 4.5vw;
  }
  .project_items{
    width: 70vw;
    border-radius: 5vw;
  }
  .project_img1{
    width: 60vw;
  }
  .project_item_text1{
    width: 60vw;
    margin-left: 5vw;
  }
  .project_name_text1{
    font-size: 7vw;
    margin-left: 12vw;
  }
  .netflixbtn{
    font-size: 4vw;
    margin-left: 20vw;
  }

  .project_img2{
    width: 60vw;
  }
  .project_item_text2{
    width: 60vw;
    margin-left: 5vw;
  }
  .project_name_text2{
    font-size: 7vw;
    margin-left: 3vw;
  }
  .riotbtn{
    font-size: 4vw;
    margin-left: 20vw;
  }

  .project_img3{
    width: 60vw;
  }
  .project_item_text3{
    width: 60vw;
    margin-left: 5vw;
  }
  .project_name_text3{
    font-size: 7vw;
    margin-left: 7vw;
  }
  .microsoftbtn{
    font-size: 4vw;
    margin-left: 20vw;
  }

  .project_row_two{
    flex-direction: column;
    align-items: center;
    gap: 4.5vw;

  }

  .uiux_project_items{
    width: 70vw;
    border-radius: 5vw;
  }
  .uiux_project_img1{
    width: 60vw;
    border-radius: 3vw;
  }
  .uiux_project_item_text1{
    width: 60vw;
    margin-left: 5vw;
    height: 12vh;
    margin-top: 1.5vh;
  }
  .uiux_project_name_text1{
    font-size: 5vw;
  }
  .halloweenbtn{
    margin-left: 19vw;
  }
  .note1{
    font-size: 1.8vh;
    margin-top: 1.5vh;
    width: 60vw;
    margin-left: 7vw;
  }

  .uiux_project_img2{
    width: 60vw;
    border-radius: 3vw;
  }
  .uiux_project_item_text2{
    width: 60vw;
    margin-left: 5vw;
    height: 12vh;
    margin-top: 1.5vh;
  }
  .uiux_project_name_text2{
    font-size: 4vw;
    margin-left: 5vw;
  }
  .nikebtn{
    margin-left: 19vw;
  }
  .note2{
    font-size: 1.8vh;
    margin-top: 1.5vh;
    width: 60vw;
    margin-left: 7vw;
  }

  .uiux_project_img3{
    width: 60vw;
    border-radius: 3vw;
  }
  .uiux_project_item_text3{
    width: 60vw;
    margin-left: 5vw;
    height: 12vh;
    margin-top: 1.5vh;
  }
  .uiux_project_name_text3{
    font-size: 3.5vw;
    margin-left: 5vw;
  }
  .reynabtn{
    margin-left: 22vw;
    font-size: 3vw;
  }
  .note3{
    font-size: 1.8vh;
    margin-top: 2.8vh;
    width: 60vw;
    margin-left: 7vw;
  }
  .blob{
    width: 25vw;
    height: 30vh;
  }
  .blob:hover{
    width: 27vw;
    height: 32vh;
  }
}
