@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merienda&family=Montserrat&family=Roboto:wght@100&family=Tourney:wght@100&display=swap");
*{
    margin:0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 150%;
    background-color: black;
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    position: relative;
    left: 5vw;
    border-bottom: 1px solid white;
}
.nav_mid_items{
    display: flex;
    gap: 4vh;
    cursor: pointer;
    position: relative;
    bottom: -1.5vh;
}
.logo{
    font-size: 2vw;
    position: relative;
    bottom: -1.5vh;
}
.sign_up{
    cursor: pointer;
    position: relative;
    bottom: -1.5vh;
}
.page1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    font-size: 3vw;
    position: relative;
    left: 4vw;
    top: 8vh;
}
.small_dp{
    width: 5vw;
    height: 11vh;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    top: 2vh;
}
#dp2{
    position: relative;
    left: -6vh;
}
#dp3{
    position: relative;
    left: -12vh;
}
span{
    position: relative;
    left: -10vh;
}
hr{
    width: 45vw;
    position: relative;
    top: 4vh;
}
.solution{
    font-size: small;
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right{
    background-color: rgb(216, 159, 216);
    width: 40vw;
    height: 60vh;
    border-radius: 3vw;
    position: relative;
    right: 12vh;
    top: 8vh;
}
.right_img{
    height: 60vh;
}
.call{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 6vh;
    background: transparent;
    border: 2px solid black;
    border-radius: 4vh;
    position: relative;
    top: -10vh;
    left: 5vw;
}
.BOOK_CALL{
    color: black;
    margin-left: 3vh;
}
.arrow{
    width: 2vw;
    height: 4vh;
    margin-right: 3vh;
}
.page2{
    width: 100%;
    height: 32%;
    position: relative;
    top: 32vh;
}
.page2_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5vh;
    position: relative;
    top: 14vh;
    left: 5vw;
}
.page2_btn{
    cursor: pointer;
    border: 1px solid white;
    background: transparent;
    border-radius: 3vh;
    width: 12vw;
    height: 6vh;
}
.page2_btn:hover{
    background-color: white;
    color: black;
}
.page2_right{
    display: flex;
    position: relative;
    left: 31vw;
    top: -20vh;
}
.box1{
    cursor:pointer;
    width: 20vw;
    height: 35vh;
    border-radius: 3vw;
    background-color: rgb(255, 141, 12);
}
.box2{
    cursor:pointer;
    width: 20vw;
    height: 35vh;
    border-radius: 3vw;
    background-color:antiquewhite;
    margin-left: 4vh;
}
.box3{
    cursor:pointer;
    width: 20vw;
    height: 35vh;
    border-radius: 3vw;
    background-color: rgb(228, 172, 69);
    margin-left: 4vh;
}
.unique{
    color: black;
    position: relative;
    top: 4vh;
    left: 4vh;
    font-weight: 800;
}
.case{
    color: black;
    font-size: 2VW;
    font-weight: bolder;
    position: relative;
    top: 22VH;
    left: 4VH;
}
.project{
    color: black;
    font-weight: 800;
    position: relative;
    top: 4vh;
    left: 4vh;
}
.seven_700{
    font-size: 5vw;
    color: black;
    position: relative;
    top: 15vh;
    left: 4vh;
}
.cloud{
    width: 5vw;
    height: 10vh;
    position: relative;
    top: 19vh;
    left: 3vh;
}